.portfolio_title_1{
	height:20px;
	font-weight:bold;
	font-size:20px;
	color:#4285f4;
	font-family: 'Hind', sans-serif;
}
.portfolio_title_2{
	height:20px;
	font-weight:bold;
	font-size:20px;
	color:#fbbc05;
	font-family: 'Hind', sans-serif;
}
.portfolio_title_3{
	height:20px;
	font-weight:bold
	;font-size:20px;
	color:#ea4335;
	font-family: 'Hind', sans-serif;
}
.searchbar {
	width: 100%;
	height: 44px;
	border: solid 1px #ccc;
}
.searchbar2 {
	width:800px;
	height:35px;
	margin: 0 65px;
	margin-bottom:20px;


}
.top_bar_all{
	font-size:13px;
	text-decoration:none;
	border-bottom:solid 3px #4285f4;
	font-family: 'Roboto', sans-serif;
	color:rgb(66, 133, 244); 
	font-weight:bold;
	padding-bottom:12px;
	margin-right:8px;
	padding-right:12px;
}
.top_bar_rest{
	font-size:13px;
	text-decoration:none;
	color:#777;
	font-family: 'Roboto', arial,sans-serif;
	margin-right:8px;
	padding-right:12px;

}
.number_of_sites_found{
	color:#808080;
	font-size:13px;
	padding-bottom:20px;
	font-family:'Roboto',arial,sans-serif;
}




.container{
	width:600px;
	margin-left:230px;

}



.entry {
	clear: both;
}

.entry .subject{
	display: block;
	font-size:18px;
	color:#1a0dab;
	font-weight:normal;
	text-align:left;
	font-family: 'Roboto', sans-serif;
	line-height:21.1px;
	text-decoration:none;
	padding: 26px 16px 5px 0;
	outline:rgb(66, 133, 244) none 0px;

}

.entry img{
	height:87px;
	width: 126px;
}

.entry .text{
	width: 465px;
	float: right;
	color:#545454;
	text-align:left;
	margin-bottom:25px;
	font-family:'roboto' ,arial ,sans-serif;
	font-size:13px;
}
.did_you_mean{
	color:red;

}


img {
	border: 1px solid #ebebeb;
}
html, body  { margin: 0; padding: 0 }
body, div	{ box-sizing: border-box; }
.top{
	border-bottom: solid 1px #ccc; 
	min-width: 780px;
	height: 117px; 
	background: #fafafa;
}
.left{
	background: #fafafa; 
	width: 210px; height: 100%; 
	float: left;
	padding: 20px; font-size: 27px; text-align: center; 

}
.right{
	background: #fafafa;
	float: left;
	width: 630px; height: 100%;
	padding: 20px 5px 20px;
}
.topmenu{
	padding-top: 15px;
	
	

}
.topmenu a{	
	background: #fafafa;
	padding-left:12px;
	
			
}
.settings{
	

}
.text2{
	font-style:italic;
	width: 465px;
	color:#545454;
	text-align:left;
	font-family:'italic' ,arial ,sans-serif;
	font-size:13px;

}


