.portfolio_title_1{
	height:20px;
	font-weight:bold;
	font-size:20px;
	color:#4285f4;
	font-family: 'Hind', sans-serif;
}
.portfolio_title_2{
	height:20px;
	font-weight:bold;
	font-size:20px;
	color:#fbbc05;
	font-family: 'Hind', sans-serif;
}
.portfolio_title_3{
	height:20px;
	font-weight:bold
	;font-size:20px;
	color:#ea4335;
	font-family: 'Hind', sans-serif;
}
.searchbar_3{
	width:1000px;
	height:15px;
	margin: 0 45px;
	margin-top:4px
}
.space{
	background-color:white; 
	height:40px
}
.top_bar_all{
	width:50px;
	height:40px;
	margin-top:40px;
	margin-left:200px;
	background-color:white;
	border-color:white;
}
.top_bar_rest{
	width:50px;
	height:40px;
	margin-top:40px;
	margin-left:15px;
	background-color:white;
	border-color:white;
	text-decoration:none;
	color:black
}
.number_of_sites{
	color:#808080;
	margin-left:206px
}
.subject{
	font-size:18px;
	float:right;
	margin-right:1240px;
}
.img_size-text{
	height:87px;
	margin-left:184px;
	margin-top:20px;
	border-left:solid white 10px
}
.img_size_2{
	height:87px;
	margin-left:197px;
	margin-top:40px;
}